/* line 1, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.about-box h3 {
  font-size: 20px;
  font-weight: bold;
  color: #4b4f56;
  background-color: #f5f6f7;
  border-bottom: 1px solid #d3d6db;
  border-radius: 2px 2px 0 0;
  height: 24px;
  padding: 15px;
  margin: 0;
}

/* line 13, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.about-section h3:hover {
  text-decoration: underline;
}

/* line 17, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.about-box {
  width: 100%;
  height: auto;
  border: 1px solid #d3d6db;
  margin-top: 10px;
  background-color: #fff;
}

/* line 25, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.about-section {
  display: flex;
  flex-direction: row;
}

/* line 31, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.about-legend {
  min-width: 242px;
  border-right: 1px solid #d3d6db;
  display: flex;
  align-items: center;
}

/* line 38, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.legend-list {
  width: 100%;
}

/* line 42, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.list-option {
  padding: 12px 4px 12px 16px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

/* line 51, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.about-info {
  padding: 30px 24px;
  width: 100%;
}

/* line 56, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/about.scss */
.about-contact-info h4, .about-basic-info h4 {
  border-bottom: 1px solid #d3d6db;
  padding-bottom: 5px;
  font-size: 14;
  font-weight: normal;
  margin: 10px 0px;
}
