/* line 1, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/comments.scss */
.comment-box {
  border-top: 1px solid #dadde1;
  padding: 12px;
  height: auto;
  width: 476px;
}

/* line 8, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/comments.scss */
.comment-form {
  width: -webkit-fill-available;
  height: 100%;
  background-color: #f2f3f5;
  border: 1px solid #ccd0d5;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
}

/* line 18, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/comments.scss */
.comment-input {
  height: auto;
  width: inherit;
  padding: 8px 12px;
  line-height: 16px;
  cursor: text;
  font-size: 13px;
  overflow: none;
}

/* line 28, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/comments.scss */
.single-comment {
  background-color: #eef1f3;
  padding: 8px 10px;
  border-radius: 16px;
  line-height: 16px;
  font-size: 13px;
  margin: 15px 0;
}

/* line 36, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/comments.scss */
.comment-author a {
  margin-right: 5px;
  color: #365899;
  font-weight: 600;
}

/* line 42, /Users/rob/Desktop/LikeMe/app/assets/stylesheets/comments.scss */
.comment-body {
  color: #1d2129;
}
