.headboard {
  margin-bottom: 10px;
}

.cover-photo {
  background-color: #1d2129;
  height: 205px;
  width: 851px;
  text-align: bottom;
  display: flex;
  flex-direction:column-reverse;
}

.headboard-name {
  margin: 0;
  color: #fff;
  font-size: 24px;
  text-shadow: 0 0 3px rgba(0, 0, 0, .4);
  font-weight: 600;
}

.headboard-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  padding-right: 76px;
}

.headboard-nav {
  padding: 15px 15px;
  border-left: 1px solid #e9eaed;
  text-align: center;
  vertical-align: middle;
  color: #365899;
  font-size: 14.5px;
  font-weight: 600;
}

.headboard-links Link:hover {
  background-color: #f5f6f7;
}

.headboard-navigation {
      border-left: 1px solid #d1d6da;
      border-bottom: 1px solid #d1d6da;
      border-right: 1px solid #d1d6da;
      border-radius: 3px;
      width: 850px;
}

.headboard-links button {
  border-right: 1px solid #e9eaed;
}
