//Main:
#root {
  background-color: #edf0f5;
}
//Topbar header:
.topbar {
  background-color: #44579b;
  background-image: linear-gradient(#456ba6, #325a9c);
  border-bottom: 1px solid #293586;
}

.header {
  width: 980px;
  height: 82px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.loggedout-header {
  margin: 25px 0;
}

.app-name {
  color: #ffffff;
  margin-top: 0;
  font-family: 'Muli', sans-serif;
  font-size: 36px;
}

//Login form in header:
.login-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-form-email-section, .login-form-password-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.login-form-email-label, .login-form-password-label {
  color: #f0f4f8;
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}

.login-form {
  display: flex;
  flex-direction: row;
}

.login-input {
  background-color: #ffffff;
  border: 1px solid #1a295e;
  height: 22px;
  width: 150px;
}

.login-submit-button {
  background-color: #3668b8;
  box-sizing: content-box;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid #1e4981;
  border-radius: 2px;
  height: 22px;
  padding: 0 5px 0 5px;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-left: 5px;
}

.login-submit-button:hover {
  background-color: #365899;
  border: 1px solid #29487d;
}

.login-errors {
  position: absolute;
  right: 20px;
  top: 10px;
}
//Main content on HomePage:
.main-content {
  display: flex;
  flex-direction: row;
  width: 980px;
  height: 543px;
  margin: 0 auto;
  padding: 20px 5px;
}

.main-left {
  height: 378px;
  min-width: 565px;
  margin-right: 16px;
}

.main-right {
  height: 545px;
  width: 399px;
}

//SignupForm on right section of homepage:
.signup-form-container {
  height: 380px;
  display: block;
}

.signup-headline {
  font-family: 'Mukta', sans-serif;
  font-size: 38px;
}

.signup-subheadline {
  font-weight: 300;
  font-size: 20px;
  height: 23px;
  margin-bottom: 15px;
  margin-top: 0;
}

.homepage-birthdate-header {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.signup-input {
  background-color: #ffffff;
  border: 1px solid #bbc7d9;
  border-radius: 5px;
  padding: 8px 10px;
  width: 399px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
}

.signup-form-name-section {
  display: flex;
  justify-content: space-between;
}

.signup-name-input {
  background-color: #ffffff;
  border: 1px solid #bbc7d9;
  border-radius: 5px;
  padding: 8px 10px;
  box-sizing: content-box;
  font-size: 18px;
  font-weight: 400;
  width: 172px;
}

#month, #day, #year {
  height: 28px;
  font-size: 13px;
  border-color: #bdc7d8;
}

.signup-submit-button {
  height: 23px;
  width: 152px;
  padding: 7px 20px;
  margin: 10px 0px;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: 0 1px 1px #a4e388;
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  font-size: 19px;
  font-weight: 600;
  font-family: 'Mukta', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signup-submit-button:hover {
  background: linear-gradient(#79bc64, #578843);
}

//Right side content on homepage:
strong {
  font-weight: 800;

}

.homepage-left h2 {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  height: 72px;
  width: 409px;
  padding: 42px 0px 24px 0px;
}

.homepage-list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.homepage-list-element span {
  margin-left: 5px;
}

.homepage-image {
  width: 56px;
  height: 56px;
  margin-right: 20px;
}
