.navbar {
  width: 100%;
  height: 42px;
  background-color: #4267b2;
  border-bottom: 1px solid #2a477d;
  padding: 8px 0;
  box-sizing: border-box;
}

.navbar-group {
  width: 1012px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-search {
  display: flex;
  flex-direction: row;
}

.navbar-search a {
  color: #fff;
  margin: auto 5px;
}

.navbar-search input {
  background-color: #fff;
  width: 398px;
  height: 23px;
  padding-right: 5px;
  font-size: 14px;
  color: black;
  padding: 0 5px;
  border-radius: 2px 0 0 2px;
}

.search-elements {
  border: 1px solid #3b5998;
  border-radius: 2px;
}

.search-button {
  background-color: #f5f6f7;
  height: 23px;
  padding: 0 16px;
  border-radius: 0 2px 2px 0;
}

.search-button:hover {
  background: #ebedf0;
}

.search-button:active {
  background: #4080ff;
  transform: scale(.98);
}

.fa-search {
  color: #4b4f56;
}

.fa-search:active {
  color: #fff;
}

.navbar-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-buttons button, .navbar-buttons a, .navbar-links a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 0 2px;
}

.fa-user-friends, .fa-facebook-messenger, .fa-bell, .fa-question-circle {
  color: #172949;
  font-size: 20px;
}

.fa-user-friends:hover, .fa-facebook-messenger:hover, .fa-bell:hover, .fa-question-circle:hover {
  color: #0c1425;
}

.fa-user-friends:active, .fa-facebook-messenger:active, .fa-bell:active, .fa-question-circle:active {
  color: #fff;
}
.navbar-links {
  height: 21px;
}
.navbar-links a {
  padding: 3.5px 12px;
}

.fa-facebook-messenger {
  padding: 0 8px;
}

.navbar-buttons, .quick-help {
  padding: 0 12px;
}

.navbar-links a, .navbar-buttons {
  border-right: 1px solid #3a5fa3;
}

.quick-help {
  display: flex;
  justify-content: center;
}

.logout-button {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding-left: 8px;
}
