.newsfeed-page {
  width: 1012px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}

//Left side:
.left-link-pic {
  height: 20px;
  width: 20px;
  border: 0px solid transparent;
  border-radius: 50%;
  margin-right: 5px;
}

.left-links {
  width: 180px;
}

.user-links {
  display: flex;
  flex-direction: column;
}

.left-list-element {
  color: #1d2129;
  font-size: 13px;
  height: 28px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  padding-left: 5px;
}

.left-list-element a, .left-list-element span {
  color: #1d2129;
}

.left-list-element a {
  width: -webkit-fill-available;
  height: inherit;
  display: flex;
  align-items: center;
}

.left-list-element:hover {
  background-color: #f5f6f7;
  border-color: #dddfe2;
}

.to-newsfeed {
  border-color: #dddfe2;
}

.to-newsfeed a {
  font-weight: 600;
}
// .user-links li, .user-links a {
//   font-weight: normal;
//   margin-bottom: 1px;
//   display: flex;
//   vertical-align: -webkit-baseline-middle;
// }

.left-links label {
  font-size: 13px;
  color: #616770;
  line-height: 17px;
  padding: 4px 0;
  font-weight: 600;
}
//
// .user-links li:hover, .user-links a:hover {
//   border: 1px solid #dddfe2;
//   border-radius: 1px;
// }

//Newsfeed:
.wall-columns {
  width: 851px;
}

.intro-and-friends {
  width: 323px;
  height: auto;
}

.newsfeed-container {
  width: 500px;
}

//Rigth side:
.ads {
  width: 308px;
}

.stories {
  padding: 12px;
  height: auto;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: #fff;
}

.stories p {
  margin: 0px;
  margin-top: 10px;
  width: inherit;
  height: auto;
}

.stories-header {
  color: #616770;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}
