.newsfeed-page {
  width: 1012px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}

//Left side:
.left-links {
  width: 180px;
}


.user-links {
  display: flex;
  flex-direction: column;
}

.user-links li, .user-links a {
  font-weight: normal;
  color: #1d2129;
  border: 1px solid;
  border-color: transparent;
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 1px;
  height: 28px;
  display: flex;
  vertical-align: -webkit-baseline-middle;
}

.left-links label {
  font-size: 13px;
  color: #616770;
  line-height: 17px;
  padding: 4px 0;
  font-weight: 600;

}

.user-links li:hover, .user-links a:hover {
  background-color: #f5f6f7;
  border: 1px solid #dddfe2;
  border-radius: 1px;
}

//Newsfeed:
.newsfeed-container {
  width: 500px;
}

//Rigth side:
.ads {
  width: 308px;
}

.stories {
  padding: 12px;
  height: 92px;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: #fff;
}

.stories-header {
  color: #616770;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}
