.newsfeed-page {
  width: 1012px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}

//Left side:
.left-links {
  width: 180px;
}

.user-links li, .user-links a, .shortcut-links span, .explore-links li,
  .explore-links a, .wall-link {
  color: #1d2129;
  margin: 10px 0;
  border: 1px solid;
  border-color: transparent;
  font-weight: lighter;
  font-size: 12px;
}

.left-links label {
  font-size: 13px;
  color: #616770;
  line-height: 17px;
  padding: 4px 0;
  font-weight: 600;

}

.user-links li:hover, .user-links a:hover, .shortcut-links span:hover,
  .explore-links li:hover, .explore-links a:hover, .wall-link:hover {
  background-color: #f5f6f7;
  border: 1px solid #dddfe2;
  border-radius: 1px;
}

//Newsfeed:
.newsfeed-container {
  width: 500px;
}

//Rigth side:
.ads {
  width: 284px;
}

.stories {
  padding: 12px;
  height: 92px;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  background-color: #fff;
}
