
.post-form-container {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  height: auto;
  margin-bottom: 10px;
}

.post-form {
  display: flex;
  flex-direction: column;
  border-radius: 3px 3px 0 0;
}

.fa-pencil-alt {
  color: #4b4f56;
  margin-right: 5px;
}

.make-post {
  color: #4b4f56;
  font-size: 12px;
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  border-radius: 3px 3px 0 0;
  font-weight: 600;
  padding: 8px;
}

.post-form textarea {
  width: inherit;
  height: 100%;
  font-size: 14px;
  color: black;
  padding: 23px 48px 13px 12px;
  resize: none;
}

.post-form input {
  background-color: #4267b2;
  box-sizing: border-box;
  height: 28px;
  width: 100%;
  font-size: 12px;
  line-height: 22px;
  padding: 0 16px;
  color: #fff;
  border: 1px solid #4267b2;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
}

.post-form input:hover {
  background-color: #365899;
  border-color: #365899;
}

.post-form input:active {
  background-color: #29487d;
  border-color: #29487d;
  transform: scale(.98);
}

.post-form input:disabled {
  background-color: #9cb4d8;
  border-color: #9cb4d8;
  cursor: default;
}

.posts-header {
  color: #606770;
  font-weight: 600;
  font-size: 12px;
}

.newsfeed-post {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border: 1px solid #dddfe2;
  border-radius: 3px;
}

.post-window {
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 3px 3px 0 0;
}

.post-owner {
  font-size: 14px;
  font-weight: bold;
  color: #365899;
  margin-bottom: 10px;
}

.post-body {
  font-size: 14px;
  color: #1d2129;
}

.bottom-bar {
  background-color: #fff;
  border-top: 1px solid #dddfe2;
  margin: 0 12px;
}

.comment-block {
  margin: 0 auto;
  width: 33%;
  height: 42px;
  background-color: inherit;
  display: flex;

}

.comment-button {
  width: 90%;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: auto;
}

.comment-button:hover {
  background-color: rgba(29, 33, 41, .04);
}

.comment-button:active {
  transform: scale(.98);
}

.fa-comment-alt {
  padding-right: 6px;
}

.comment-label {
  font-size: 13px;
  font-weight: 600;
  color: #606770;
  padding: 0 2px;
  vertical-align: text-top;
}
