.search-page {
  width: 1012px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.filters {
  width: 180px;
  height: auto;
  margin: 10px 0;
  background-color: #fff;
}

.languages {
  background-color: #fff;
  width: 308px;
  height: auto;
  margin: 10px 0;
}

.search-box {
  width: 500px;
  background-color: #fff;
  border-radius: 3px;
  height: auto;
  margin: 10px auto;
}

.search-header {
  border-bottom: 1px solid #dadde1;
  display: flex;
  align-items: center;
  padding: 10px 12px 9px;
  height: 24px;
}

.people-text {
  color: #23272f;
  font-size: 14px;
  font-weight: 600px;
}

.list-of-people {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
}

.person {
  padding: 12px;
  border-bottom: 1px solid #ebedf0;
}

.person-name {
  color: #365899;
  font-size: 14px;
  font-weight: 600;
}
